<ol *ngFor="let shot of screenshots | async" class="dribbbles group">
  <db-screenshot [screenshot]="shot"></db-screenshot>
</ol>

<!--<ol class="dribbbles group">-->
<!--<li id="screenshot-3826770" class="group team">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3826770-Missing-Summer">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_teaser.png">-->
<!--<img alt="Missing Summer"-->
<!--src="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3826770-Missing-Summer"> <strong>Missing Summer</strong>-->
<!--<span class="comment">Cosy evenings giving the time to relax and think the day over are a good part of happiness, aren't they?-->

<!--Today let me add such a mood to your ear...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3826770-Missing-Summer/fans">695</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--34-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>4,419</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3826770-Missing-Summer/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-team">-->
<!--<a class="url hoverable" rel="contact" href="/norde"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/135634/avatars/mini/2278a1c672a9ed37f91ee6df158ec94e.png?1500409122"/> Norde</a>-->
<!--<a class="badge-link" href="/teams/info">-->
<!--<span class="badge badge-team">Team</span>-->
<!--</a>-->
<!--</span>-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/lanamarandina"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/1461762/avatars/mini/815e66264d63f650041665fb13f26cfb.jpg?1479395455"/> Lana Marandina</a>-->

<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825612" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825612-Empty-States-Vol-1">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/107759/screenshots/3825612/empty2_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/107759/screenshots/3825612/empty2_teaser.png">-->
<!--<img alt="Empty States Vol 1"-->
<!--src="https://cdn.dribbble.com/users/107759/screenshots/3825612/empty2_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825612-Empty-States-Vol-1"> <strong>Empty States Vol 1</strong>-->
<!--<span class="comment">See this and more thoughtful empty states at UI8. Now available for Sketch and PS 👌🏼-->

<!--Illustrations by the super talented @Nimasha Perera-->

<!--Happy Fr...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825612-Empty-States-Vol-1/fans">444</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--4-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>6,355</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825612-Empty-States-Vol-1/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/following">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/UI8"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/107759/avatars/mini/c173fd903db4b59605ed85356cc149fe.png?1499709261"/> UI8</a>-->
<!--<a class="badge-link" href="/teams/info">-->
<!--<span class="badge badge-team">Team</span>-->
<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3826384" class="group team">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3826384-Header-Illustration-for-Cooking-Class">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/1150809/screenshots/3826384/desktop_hd_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/1150809/screenshots/3826384/desktop_hd_teaser.png">-->
<!--<img alt="Header Illustration for Cooking Class"-->
<!--src="https://cdn.dribbble.com/users/1150809/screenshots/3826384/desktop_hd_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3826384-Header-Illustration-for-Cooking-Class"> <strong>Header-->
<!--Illustration for Cooking Class</strong>-->
<!--<span class="comment">Hi guys!-->

<!--I experimented with header part of the website for people to learn cooking in a very easy way. Here’s the result so far. What do you thin...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3826384-Header-Illustration-for-Cooking-Class/fans">411</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--24-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>4,084</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3826384-Header-Illustration-for-Cooking-Class/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-team">-->
<!--<a class="url hoverable" rel="contact" href="/paperpillar"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/1047455/avatars/mini/fd251b6a71360896bee0e87d11d7868f.png?1505553932"/> Paperpillar</a>-->
<!--<a class="badge-link" href="/teams/info">-->
<!--<span class="badge badge-team">Team</span>-->
<!--</a>-->
<!--</span>-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/SaepulRohman"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/1150809/avatars/mini/d38775fb824ef6f4d6ef02702cc413d3.jpg?1461308460"/> Saepul Rohman</a>-->

<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825198" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825198-Target-Mural">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/74271/screenshots/3825198/target_mural_4_1x.jpg"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/74271/screenshots/3825198/target_mural_4_teaser.jpg">-->
<!--<img alt="Target Mural"-->
<!--src="https://cdn.dribbble.com/users/74271/screenshots/3825198/target_mural_4_teaser.jpg"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825198-Target-Mural"> <strong>Target Mural</strong>-->
<!--<span class="comment">Excited to finally get some professional shots of the downtown Target mural!</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825198-Target-Mural/fans">328</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--12-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>3,666</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825198-Target-Mural/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/EightHourDay"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/74271/avatars/mini/0e970a09a1cd8f0e3376e0cc755bc432.png?1441313703"/> Eight Hour Day</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825580" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825580-Logos">-->
<!--<picture>-->
<!--<source-->
<!--srcset="https://cdn.dribbble.com/users/43342/screenshots/3825580/dribbble_2017_sept_logo_wotsm_1x.jpg"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source-->
<!--srcset="https://cdn.dribbble.com/users/43342/screenshots/3825580/dribbble_2017_sept_logo_wotsm_teaser.jpg">-->
<!--<img alt="Logos"-->
<!--src="https://cdn.dribbble.com/users/43342/screenshots/3825580/dribbble_2017_sept_logo_wotsm_teaser.jpg"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825580-Logos"> <strong>Logos</strong>-->
<!--<span class="comment">Rejected concepts for a client holding an event in London called Women Of The Square Mile. I wanted to share for inspiration purposes.-->

<!--Name your f...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825580-Logos/fans">343</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--19-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>4,650</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825580-Logos/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots/3819253-Logos">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/STUDIOJQ"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/43342/avatars/mini/6e4d3f4b5f2f5ab36941ae389bb9d288.png?1487196450"/> ∆ Studio–JQ ∆</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3826004" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3826004-colors">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/257709/screenshots/3826004/800_600_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/257709/screenshots/3826004/800_600_teaser.png">-->
<!--<img alt="colors" src="https://cdn.dribbble.com/users/257709/screenshots/3826004/800_600_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3826004-colors"> <strong>colors</strong>-->
<!--<span class="comment">Some small art concept, done for fun, with a Sketch (:) </span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3826004-colors/fans">309</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--10-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>3,441</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3826004-colors/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/following">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/uixninja"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/257709/avatars/mini/136a86f77042165ab92fd8c3124bc519.png?1485547820"/> uixNinja</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825204" class="group team">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825204-Framer-Effects-Multiple-Shadows">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/4878/screenshots/3825204/claq2_1x.gif"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/4878/screenshots/3825204/claq2_teaser.gif">-->
<!--<img alt="Framer Effects — Multiple Shadows"-->
<!--src="https://cdn.dribbble.com/users/4878/screenshots/3825204/claq2_teaser.gif"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825204-Framer-Effects-Multiple-Shadows"> <strong>Framer Effects —-->
<!--Multiple Shadows</strong>-->
<!--<span class="comment">Hiya Dribbble! Earlier this week, we introduced Framer Effects, which brings blending modes, layer blur, multiple shadows, photo filters and more t...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825204-Framer-Effects-Multiple-Shadows/fans">269</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--5-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>4,599</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825204-Framer-Effects-Multiple-Shadows/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--<div class="gif-indicator"></div>-->
<!--<a class="gif-target" href="/shots/3825204-Framer-Effects-Multiple-Shadows"></a>-->
<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-team">-->
<!--<a class="url hoverable" rel="contact" href="/framer"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/574541/avatars/mini/602a91ea5c3d24fdabd1a73aeee55c0f.png?1460044921"/> Framer</a>-->
<!--<a class="badge-link" href="/teams/info">-->
<!--<span class="badge badge-team">Team</span>-->
<!--</a>-->
<!--</span>-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/benjaminnathan"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/4878/avatars/mini/0f5eeaaa480dbc716facdd52a5d061df.png?1501838797"/> Benjamin den Boer</a>-->

<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3827109" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3827109-Music-Landing-Page">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/952958/screenshots/3827109/music-landing-page_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/952958/screenshots/3827109/music-landing-page_teaser.png">-->
<!--<img alt="Music Landing Page"-->
<!--src="https://cdn.dribbble.com/users/952958/screenshots/3827109/music-landing-page_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3827109-Music-Landing-Page"> <strong>Music Landing Page</strong>-->
<!--<span class="comment">Follow me Behance   |  Instagram  </span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3827109-Music-Landing-Page/fans">244</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--6-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>2,260</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3827109-Music-Landing-Page/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/Tamarashvili"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/952958/avatars/mini/0101aa0aecfb782643de2075265cf6ac.png?1484162300"/> Giga Tamarashvili</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825694" class="group team">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825694-Montecore-Baby">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/33827/screenshots/3825694/monty_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/33827/screenshots/3825694/monty_teaser.png">-->
<!--<img alt="Montecore, Baby!"-->
<!--src="https://cdn.dribbble.com/users/33827/screenshots/3825694/monty_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825694-Montecore-Baby"> <strong>Montecore, Baby!</strong>-->
<!--<span class="comment">Some unused variations / self portraits for Austin Beerworks' Vegas themed Märzen beer. Buy the finalized design here.</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825694-Montecore-Baby/fans">235</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--8-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>2,493</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825694-Montecore-Baby/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/following">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-team">-->
<!--<a class="url hoverable" rel="contact" href="/HELMSWORKSHOP"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/929783/avatars/mini/fbdbf61d411957071a4c2c80b5b90761.jpg?1440101277"/> Helms Workshop™</a>-->
<!--<a class="badge-link" href="/teams/info">-->
<!--<span class="badge badge-team">Team</span>-->
<!--</a>-->
<!--</span>-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/alanalouise"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/33827/avatars/mini/1bb7d185ff5396a76163d2efc4a40949.jpg?1468880351"/> Alana Louise</a>-->

<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3826098" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3826098-St-Elmo-Oktoberfest">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/22069/screenshots/3826098/st._elmo_corn_party_1x.jpg"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/22069/screenshots/3826098/st._elmo_corn_party_teaser.jpg">-->
<!--<img alt="St. Elmo Oktoberfest"-->
<!--src="https://cdn.dribbble.com/users/22069/screenshots/3826098/st._elmo_corn_party_teaser.jpg"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3826098-St-Elmo-Oktoberfest"> <strong>St. Elmo Oktoberfest</strong>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3826098-St-Elmo-Oktoberfest/fans">216</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--2-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>1,809</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3826098-St-Elmo-Oktoberfest/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/keithdavisyoung"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/22069/avatars/mini/da8b8fa7e2f633e91d241c399033b906.jpg?1488671174"/> Keith Davis Young</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3826442" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3826442-Stubba-Landing-page">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/997070/screenshots/3826442/dsa_1x.png"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/997070/screenshots/3826442/dsa_teaser.png">-->
<!--<img alt="Stubba Landing page"-->
<!--src="https://cdn.dribbble.com/users/997070/screenshots/3826442/dsa_teaser.png"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3826442-Stubba-Landing-page"> <strong>Stubba Landing page</strong>-->
<!--<span class="comment">-->
<!--Full version here:-->
<!--https://www.behance.net/gallery/54533435/Case-Study-of-Stubba-Design-->

<!-- -&#45;&#45;-->
<!--100 Best Interaction collection-->
<!--&#45;&#45;&#45;&#45;-->
<!--Mastering-Inter...</span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3826442-Stubba-Landing-page/fans">258</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--5-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>3,090</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3826442-Stubba-Landing-page/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/following">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/johnyvino"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/997070/avatars/mini/47ba30f02d62b4c5a565f4e0fd99b94a.jpg?1459240343"/> Johny vino™</a>-->
<!--<a class="badge-link" href="/pro">-->
<!--<span class="badge badge-pro">Pro</span>-->

<!--</a>-->
<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--<li id="screenshot-3825745" class="group ">-->
<!--<div class="dribbble">-->
<!--<div class="dribbble-shot">-->
<!--<div class="dribbble-img">-->
<!--<a class="dribbble-link" href="/shots/3825745-Little-Tiger">-->
<!--<picture>-->
<!--<source srcset="https://cdn.dribbble.com/users/1058/screenshots/3825745/tiger_1x.jpg"-->
<!--media="(-webkit-min-device-pixel-ratio: 1.5), (min&#45;&#45;moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">-->
<!--<source srcset="https://cdn.dribbble.com/users/1058/screenshots/3825745/tiger_teaser.jpg">-->
<!--<img alt="Little Tiger" src="https://cdn.dribbble.com/users/1058/screenshots/3825745/tiger_teaser.jpg"/>-->
<!--</picture>-->
<!--</a>-->
<!--<a class="dribbble-over" href="/shots/3825745-Little-Tiger"> <strong>Little Tiger</strong>-->
<!--<span class="comment">hey dribbble. </span>-->
<!--<em class="timestamp"></em>-->
<!--</a></div>-->

<!--<ul class="tools group">-->
<!--<li class="fav">-->
<!--<a title="View fans of this shot" href="/shots/3825745-Little-Tiger/fans">213</a>-->
<!--</li>-->
<!--<li class="cmnt">-->
<!--<span>-->
<!--7-->
<!--</span>-->
<!--</li>-->
<!--<li class="views">-->
<!--<span>2,194</span>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->

<!--<div class="extras">-->
<!--<a href="/shots/3825745-Little-Tiger/rebounds">-->
<!--<span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">-->
<!--0-->
<!--</span>-->
<!--</a> <a href="/shots">-->
<!--<span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."-->
<!--class="rebound-mark is-rebound">-->
<!--<img width="16" height="16" alt="Rebound"-->
<!--src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>-->
<!--</span>-->
<!--</a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">-->
<!--<img width="16" height="16" alt="Attachments"-->
<!--src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<h2 class="attribution hover-card-parent">-->
<!--<span class="attribution-user">-->
<!--<a class="url hoverable" rel="contact" href="/dmott70"><img class="photo"-->
<!--src="https://cdn.dribbble.com/users/1058/avatars/mini/5214801956839fd8486683ed0b0822f9.jpg?1419183069"/> Dave Mottram</a>-->

<!--</span>-->
<!--</h2>-->
<!--</li>-->
<!--</ol>-->
