<ol class="dribbbles group">
  <li id="screenshot-3826770" class="group team">
    <div class="dribbble">
      <div class="dribbble-shot">
        <div class="dribbble-img">
          <a class="dribbble-link" href="/shots/3826770-Missing-Summer">
            <picture>
              <source
                srcset="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_1x.png"
                media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">
              <source
                srcset="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_teaser.png">
              <img alt="Missing Summer"
                   src="https://cdn.dribbble.com/users/1461762/screenshots/3826770/missing_summer_teaser.png"/>
            </picture>
          </a>
          <a class="dribbble-over" href="/shots/3826770-Missing-Summer"> <strong>Missing Summer</strong>
            <span class="comment">Cosy evenings giving the time to relax and think the day over are a good part of happiness, aren't they?

Today let me add such a mood to your ear...</span>
            <em class="timestamp"></em>
          </a></div>

        <ul class="tools group">
          <li class="fav">
            <a title="View fans of this shot" href="/shots/3826770-Missing-Summer/fans">695</a>
          </li>
          <li class="cmnt">
                        <span>
      34
    </span>
          </li>
          <li class="views">
            <span>4,419</span>
          </li>
        </ul>

      </div>

      <div class="extras">
        <a href="/shots/3826770-Missing-Summer/rebounds">
        <span rel="tipsy" title="This shot has rebounds." class="rebound-mark has-rebounds">
          0
        </span>
        </a> <a href="/shots">
        <span rel="tipsy" title="This shot is a rebound (reply) of another shot. View the original."
              class="rebound-mark is-rebound">
          <img width="16" height="16" alt="Rebound"
               src="https://cdn.dribbble.com/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png"/>
        </span>
      </a> <span rel="tipsy" title="This shot has attachments" class="attachments-mark">
        <img width="16" height="16" alt="Attachments"
             src="https://cdn.dribbble.com/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png"/>
      </span>
      </div>

    </div>

    <h2 class="attribution hover-card-parent">
                  <span class="attribution-team">
        <a class="url hoverable" rel="contact" href="/norde"><img class="photo"
                                                                  src="https://cdn.dribbble.com/users/135634/avatars/mini/2278a1c672a9ed37f91ee6df158ec94e.png?1500409122"/> Norde</a>
        <a class="badge-link" href="/teams/info">
  <span class="badge badge-team">Team</span>
                  </a>
                  </span>
      <span class="attribution-user">
      <a class="url hoverable" rel="contact" href="/lanamarandina"><img class="photo"
                                                                        src="https://cdn.dribbble.com/users/1461762/avatars/mini/815e66264d63f650041665fb13f26cfb.jpg?1479395455"/> Lana Marandina</a>

    </span>
    </h2>
  </li>
</ol>
