<div id="footer" role="contentinfo">
  <div id="footer-inner">
    <div class="group">
      <div class="footer-mod">
        <p class="logo"><a href="/"><img width="80" alt="dribbble"
                                         src="https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png"/></a><br
        />This is a Dribbble clone...</p>
        <p class="about"> Please check my <a href="https://github.com/hguerra">GitHub</a></p>
      </div>
    </div>
  </div>
</div>
