<db-header></db-header>
<div id="wrap">
  <div class="full-tabs">
    <db-menu></db-menu>
    <div id="wrap-inner">
      <div id="content" role="main">
        <div id="main" class="main-full">
          <db-screenshots></db-screenshots>
          <db-pagination></db-pagination>
        </div>
      </div>
    </div>
  </div>
  <db-footer></db-footer>
  <script src="assets/js/jquery.min.js"></script>
  <!-- jquery failover -->
  <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape('%3Cscript src="https://cdn.dribbble.com/assets/jquery-1.8.3.min-558de951bfc970b180d330ead5cef872e30b97b38afe65d7af04dadeeec534f8.js">%3C/script>'))
    }
  </script>

  <script
    src="https://cdn.dribbble.com/assets/global-e90501933571d810e08383ddf8c71f172a0379abf8073ff263cf0fafdfb35986.js"></script>
  <script
    src="https://cdn.dribbble.com/assets/shots-manifest-c2b5b9065fc75320ec6a4eb41c74587b3c0786f696152fceb6d925f42eb4099e.js"></script>
</div>
